---
layout: stories-by-country.njk
country: turkey-stories
pagination:
    data: countries
    size: 1
    alias: country
permalink: "/turkey/stories-{{ country.name | slug }}/"
---

<p><a href="../index.html" class="small-link back-link">Tüm hikayelere geri dön</a></p>
<h2>Hikayeler {{ country.name }}</h2>


