---
layout: stories-by-country.njk
country: turkey
pagination:
    data: countries
    size: 1
    alias: filteredCountry
permalink: "/turkey/stories-{{ filteredCountry.name | slug }}/"
---

<p><a href="../index.html" class="small-link back-link">Tüm hikayelere geri dön</a></p>
<h2>Hikayeler {{ filteredCountry.name }}</h2>


