.story-page {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
}

.story__header {
  grid-column: 1/10;
  margin-bottom: 2em;
}

.story__meta {
  grid-column: 1/10;
  @include media-breakpoint-up(md) {
    grid-column: 1/4;
  }
  @include media-breakpoint-up(lg) {
    grid-column: 1/3;
  }
  
}


.story__description {
  grid-column: 1/10;
  @include media-breakpoint-up(md) {
    grid-column: 4/10;
  }
  @include media-breakpoint-up(lg) {
    grid-column: 3/10;
  }
}

.story__content {
  grid-column: 1/10; 
  @include media-breakpoint-up(lg) {
    grid-column: 3/10; 
  }
  > div > div {
    margin: 1em 0;
    > iframe {
      display: block;
      margin: 0 auto;
    }
  }
}


.card--story {
  border-radius: 0;
}

.card-image-background {
  height: 10em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}