---
layout: layout-fullwidth.njk
country: hungary
pagination:
    data: stories
    size: 1
    alias: story
permalink: "/hungary/{{ story.name | slug }}/"
---

<div class="story-page">
    <div class="story__header">
        <p><a href="/hungary/" class="small-link back-link">Vissza a történetekhez</a></p>
        <h1>{{ story.name }}</h1>
    </div>
    <div class="story__meta">
        <ul class="list-unstyled meta-icon-list">
        {%- if story.school -%}
            <li>
                <i class="replace-with-icon replace-with-icon--school">Iskola:</i><a href="/hungary/schools/{{ story.school | slug }}/">{{ story.school }}</a>
            </li>
        {%- endif -%}
        {%- if story.country -%}    
            <li>
                <i class="replace-with-icon replace-with-icon--country">Ország:</i>{{ story.country }}
            </li>
        {%- endif -%}
        </ul>
    </div>
    <div class="story__description">
        {%- if story.description -%}
        <h4>Ország</h4>
        <p>{{ story.description | striptags(true) | escape | nl2br  }}</p>
        {%- endif -%}
        {%- if story.who_created -%}
        <h4>Aki megalkotta a történetet?</h4>
        <p>{{ story.who_created  | striptags(true) | escape | nl2br  }}</p>
        {%- endif -%}
        {%- if story.how_created -%}
        <h4>Hogyan jött létre a történet?</h4>
        <p>{{ story.how_created  | striptags(true) | escape | nl2br  }}</p>
        {%- endif -%}
    </div>


    <div class="story__content">
    {%- if story.content -%}
    {{ story.content | sanityToHTML | safe }}
    {%- endif -%}
    {%- if storycomments %}
    <h4>Hogyan jött létre a történet</h4>
    {%- for storycomment in storycomments -%}
        {%- if storycomment.storyId==story.storyId -%}
    <p>{{ storycomment.comment }}</p>
    <p>Keresztnév: {{ storycomment.name}}<p>
    <p>Iskola/helyszín: {{ storycomment.school }} </p>
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}
{% include "feedback/hungary-form.njk" %}
    </div>

</div>

