---
layout: stories-by-country.njk
country: hungary-stories
pagination:
    data: countries
    size: 1
    alias: filteredCountry
permalink: "/hungary/stories-{{ filteredCountry.name | slug }}/"
---

<p><a href="../index.html" class="small-link back-link">Vissza az összes történethez</a></p>
<h2>Történetek {{ filteredCountry.name }}</h2>


