<p>
{% if filterByCountryText %}
{{ filterByCountryText }}
{% else %}
Filter by filterBy
{% endif %}
: 
{% for country in countries %}
  <a href="stories-{{ country.name | slug }}/">{{ country.name }}</a> 
  {% if not loop.last %} | {% endif %}
{% endfor %}
</p>