  <footer class="footer">
    <div class="container">
    <div class="footer__eu">
       <img src="/images/eu-erasmus-logo.jpg" alt="With the support of the Erasmus+ programme of the European Union"/>
       <p>The European Commission support for the production of this website does
        not constitute an endorsement of the contents which reflects the views
        only of the authors, and the Commission cannot be held responsible for
        any use which may be made of the information contained therein.</p>
    </div>
    
    <div class="logo-grid" id="partners" >
      <div class="logo-grid__item logo-grid__item--wide">
        <a href="https://www.agri.edu.tr/" target="_blank" rel="noopener">
          <img src="/images/partners/agri.jpg" alt="Agri logo"/>
        </a>
      </div>
      <div class="logo-grid__item">
        <a href="https://careful.digital/" target="_blank" rel="noopener">
          <img
              src="/images/partners/careful-digital-logo.svg"
              alt="Careful Digital logo" />
        </a>
      </div>
      <div class="logo-grid__item">
        <a href="http://www.creda.it/" target="_blank" rel="noopener">
          <img src="/images/partners/creda.jpg" alt="CREDA logo"/>
        </a>
      </div>
      <div class="logo-grid__item">
        <a href="http://www.magosfa.hu/" target="_blank" rel="noopener">
          <img src="/images/partners/magofsa.png" alt="Magofsa logo"/>
        </a>
      </div>
      <div class="logo-grid__item">
        <a href="https://www.uni-graz.at/en/" target="_blank" rel="noopener">
          <img
              src="/images/partners/universitaet_graz.svg"
              alt="University of Graz logo" />
        </a>
      </div>
      <div class="logo-grid__item">
        <a href="https://www.wild-awake.org/" target="_blank" rel="noopener">
          <img src="/images/partners/wild-awake.png" alt="WildAwake logo"/>
        </a>
      </div>
    </div>

    </div>
  </footer>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-170295086-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-170295086-1');
</script>
