<head>
    <meta charset="utf-8"/>
    <title>Change the Story</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Change the Story offers KS2 resources and hands-on support for teaching about the climate crisis, citizenship and digital competence.">
    <link rel="preconnect" href="https://www.googletagmanager.com/">
    <link rel="dns-prefetch" href="https://www.googletagmanager.com/">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="dns-prefetch" href="https://www.google-analytics.com">
    <link rel="preconnect" href="https://fonts.gstatic.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Inter:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/changethestory.css">
</head>