---
layout: layout-fullwidth.njk
country: hungary
---
{{ content | safe }}

{% include "schools-map.njk" %}   

<h2>Iskolák listája</h2>
<ul>
{% for school in schools  %}
  <li><a href="/hungary/schools/{{ school.name | slug }}/">{{ school.name }}</a></li>
{% endfor %}
</ul>
