---
layout: layout-fullwidth.njk
country: austria
---
{{ content | safe }}

{% include "schools-map.njk" %}   

<h2>Schulen</h2>
<ul>
{% for school in schools  %}
  <li><a href="/austria/schools/{{ school.name | slug }}/">{{ school.name }}</a></li>
{% endfor %}
</ul>
