---
layout: layout-fullwidth.njk
country: italy
---
{{ content | safe }}

{% include "schools-map.njk" %}   

<h2>Elenco delle scuole</h2>
<ul>
{% for school in schools  %}
  <li><a href="/italy/schools/{{ school.name | slug }}/">{{ school.name }}</a></li>
{% endfor %}
</ul>
