---
layout: layout-fullwidth.njk
country: uk
---
{{ content | safe }}

{% include "schools-map.njk" %}

<h2>Okul Listesi</h2>
<ul>
  {% for school in schools %}
    <li>
      <a href="/turkey/schools/{{ school.name | slug }}/">{{ school.name }}</a>
    </li>
  {% endfor %}
</ul>