---
layout: layout-fullwidth.njk
---
{{ content | safe }}

<style>
.flex-grid {
    justify-content: flex-start;
}
</style>

<div class="flex-grid">
{% for storyrow in stories | countryFilter(country.name) | batch(3) %}

  {% for story in storyrow %}
    <div class="flex-grid__item card card--story">
      <div class="card-image-background" style="background-image: url('{{ story.mainImageUrl }}');">
      </div>
      <div class="card-body">
        <p class="card-text"><a href="../{{ story.name | slug }}" rel="noopener">{{ story.name }}</a></p>
      </div>
    </div>
  {% endfor %}

{% endfor %}
</div>
