        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/austria/' == page.url }}" href="/austria/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/about' in page.url }}" href="/austria/about/">{{ aboutpages[0].title.de }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/news' in page.url }}" href="/austria/news/">{{ newspage[0].title.de }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/background' in page.url }}" href="/austria/background/">{{ backgroundpage[0].title.de }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/assessment' in page.url }}" href="/austria/assessment/">{{ assessmentpage[0].title.de }}</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/student-support' in page.url }}" href="/austria/student-support/">{{ studentsupportpage[0].title.de }}</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/learning-resources' in page.url }}" href="/austria/learning-resources/">{{ learningresourcepage[0].title.de }}</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/contact' in page.url }}" href="/austria/contact/">{{ contactpage[0].title.de }}</a>
        </li>        