        <li class="nav-item">
          <a class="nav-link {{ 'active' if page.url=='/austria/' }}" href="/austria/">Geschichten</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/austria/schools' in page.url }}" href="/austria/schools/">Schulen</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.changethestory.eu/austria/">Projektinformationen für Lehrer</a>
        </li>
 