        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/hungary/' == page.url }}" href="/hungary/">Kezdőlap</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/hungary/learning-resources' in page.url }}" href="/hungary/learning-resources">Tananyag</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link {{ 'active' if '/hungary/about' in page.url }}" href="/hungary/about/">A projektről</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link {{ 'active' if '/hungary/contact' in page.url }}" href="/hungary/contact/">Kapcsolat</a>
        </li>