        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/hungary/'==page.url }}" href="/uk/">Történetek</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/hungary/schools/' in page.url }}" href="/hungary/schools/">Iskolák</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.changethestory.eu/hungary/">Tanároknak – információ a projektről</a>
        </li>
 