        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/italy/' == page.url }}" href="/italy/">{{ homepages[0].title.it }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/about' in page.url }}" href="/italy/about/">{{ aboutpages[0].title.it }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/teacher-support' in page.url }}" href="/italy/teacher-support/">{{ teachersupportpage[0].title.it }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/assessment' in page.url }}" href="/italy/assessment/">{{ assessmentpage[0].title.it }}</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/learning-resources' in page.url }}" href="/italy/learning-resources/">{{ learningresourcepage[0].title.it }}</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/contact' in page.url }}" href="/italy/contact/">{{ contactpage[0].title.it }}</a>
        </li>        