        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/turkey/' == page.url }}" href="/turkey/">{{ homepages[0].title.tr }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/about' in page.url }}" href="/turkey/about/">{{ aboutpages[0].title.tr }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/teacher-support' in page.url }}" href="/turkey/teacher-support/">{{ teachersupportpage[0].title.tr }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/assessment' in page.url }}" href="/turkey/assessment/">{{ assessmentpage[0].title.tr }}</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/learning-resources' in page.url }}" href="/turkey/learning-resources/">{{ learningresourcepage[0].title.tr }}</a>
        </li>  
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/contact' in page.url }}" href="/turkey/contact/">{{ contactpage[0].title.tr }}</a>
        </li>        