        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/learning-resources' in page.url }}" href="/uk/learning-resources">Learning Resources</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/assessment' in page.url }}" href="/uk/assessment">Assessment</a>
        </li>
        <li class="nav-item">
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/teacher-support' in page.url }}" href="/uk/teacher-support">Teacher Support</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/about' in page.url }}" href="/uk/about/">About the Project</a>
        </li>
        <!--
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/news' in page.url }}" href="/uk/news/">News</a>
        </li>
        -->
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/contact' in page.url }}" href="/uk/contact/">Contact</a>
        </li>