        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/uk/'==page.url }}" href="/uk/">Stories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{ 'active' if '/uk/schools/' in page.url }}" href="/uk/schools/">Schools</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://www.changethestory.eu/uk/">Project Information For Teachers</a>
        </li>
 