---
layout: layout-fullwidth.njk
country: uk
pagination:
    data: allstories
    size: 1
    alias: story
permalink: "/uk/{{ story.name  | slug | replace('#','') }}/"
---

<div class="story-page">
    <div class="story__header">
        <p>
            <a href="/uk/" class="small-link back-link">Back to stories</a>
        </p>
        <h1>{{ story.name }}</h1>
    </div>
    <div class="story__meta">
        <ul class="list-unstyled meta-icon-list">
            {%- if story.school -%}
            <li>

                <i class="replace-with-icon replace-with-icon--school">School:</i>
                <a href="/uk/schools/{{ story.school | slug }}/">{{ story.school }}</a>
            </li>
            {%- endif -%}
            <li>
                <i class="replace-with-icon replace-with-icon--country">Country:</i>{{ story.country }}
            </li>
        </ul>
    </div>
    <div class="story__description">
        {%- if story.description -%}
            <h4>Description</h4>
            <p>{{ story.description | safe }}</p>
        {%- endif -%}
        {%- if story.who_created -%}
            <h4>Who Created This Story?</h4>
            <p>{{ story.who_created | safe }}</p>
        {%- endif -%}
        {%- if story.how_created -%}
            <h4>How Was the Story Created?</h4>
            <p>{{ story.how_created | safe }}</p>
        {%- endif -%}
    </div>

    <div class="story__content">
        {%- if story.content -%}
            {{ story.content | sanityToHTML | safe }}
        {%- endif -%}
        {%- if storycomments %}
            <h3>Comments</h3>
            {%- for storycomment in storycomments -%}
                {%- if storycomment.storyId==story.storyId -%}
                    <p>{{ storycomment.comment }}</p>
                    <p>Name: {{ storycomment.name}}
                        <p>
                            <p>School: {{ storycomment.school }}
                            </p>
                        {%- endif -%}
                    {%- endfor -%}
                {%- endif -%}
                {% include "feedback/uk-form.njk" %}
            </div>

        </div>