---
layout: stories-by-country.njk
country: austria-stories
pagination:
    data: countries
    size: 1
    alias: country
permalink: "/austria/stories-{{ country.name | slug }}/"
---

<p><a href="../index.html" class="small-link back-link">Zurück zu allen Geschichten</a></p>
<h2>Geschichten von {{ country.name }}</h2>


