---
layout: layout-fullwidth.njk
country: austria
pagination:
    data: stories
    size: 1
    alias: story
permalink: "/austria/{{ story.name | slug }}/"
---

<div class="story-page">
    <div class="story__header">
        <p><a href="/austria/" class="small-link back-link">Zurück zu Geschichten</a></p>
        <h1>{{ story.name }}</h1>
    </div>
    <div class="story__meta">
        <ul class="list-unstyled meta-icon-list">
        {%- if story.school -%}
            <li>
                <i class="replace-with-icon replace-with-icon--school">Okul Adı:</i><a href="/austria/schools/{{ story.school | slug }}/">{{ story.school }}</a>
            </li>
        {%- endif -%}
        {%- if story.country -%}    
            <li>
                <i class="replace-with-icon replace-with-icon--country">ülke:</i>{{ story.country }}
            </li>
        {%- endif -%}
        </ul>
    </div>
    <div class="story__description">
        {%- if story.description -%}
        <h4>Beschreibung</h4>
        <p>{{ story.description | safe }}</p>
        {%- endif -%}
        {%- if story.who_created -%}
        <h4>Wer hat diese Geschichte erstellt?</h4>
        <p>{{ story.who_created | safe }}</p>
        {%- endif -%}
        {%- if story.how_created -%}
        <h4>Wie wurde die Geschichte erstellt?</h4>
        <p>{{ story.how_created | safe }}</p>
        {%- endif -%}
    </div>


    <div class="story__content">
    {%- if story.content -%}
    {{ story.content | sanityToHTML | safe }}
    {%- endif -%}
    {%- if storycomments %}
    <h4>Kommentare</h4>
    {%- for storycomment in storycomments -%}
        {%- if storycomment.storyId==story.storyId -%}
    <p>{{ storycomment.comment }}</p>
    <p>Vorname: {{ storycomment.name}}<p>
    <p>Schule/Ort: {{ storycomment.school }} </p>
        {%- endif -%}
    {%- endfor -%}
{%- endif -%}
{% include "feedback/austrian-form.njk" %}
    </div>

</div>

